<h1 class="about">What We Do</h1>
<p class="about_intro">This app allows you to download and stream music for free. its that great?!. You can also sign up and add your music to the website and share your stuff.</p>