<h1>Welcome to Unreleased Sound </h1>
<h2>Your souce for leisure</h2>




<!-- <p>Welcome! The date and time is <%=# Time.now %></p> the 'time now is ruby' and the first part is just plain html. --> 

<!-- <% test_variable# = 42 %> This is standard Ruby code as you learned before. It defines a variable called test_variable and assigns the integer 42 to it. This alone does not output.  -->

<!-- <%= test_variable %> ERB tag we used generates an output and puts it right in our page. -->

<!-- <%= test_variable #- 2 %>