<%# This will simple display a list of all the orders we have with their numbers. %>

<%# We should now have a list of orders with their numbers. Below each order is a link to the order with some information about it. %>

<div class"container-fluid">
    <div class="row">
        <% @orders.each do |order| %>
            <div class="col-sm-2 col-md-4">
                <h1 class"order_title">Order # <%= order.id %>:</h1>
                <p><%= link_to order.product.name, order %></p>
                <p><%= order.product.description %></p>
                <%# <strong>$ <%= order.product.price %><!-- /strong --> 
            </div><!-- /.col -->
        <% end %>
    </div><!-- /.row -->
</div><!-- /. container-fluid -->



