a.navbar-brand {
	font-family: 'Monoton', cursive;
	color: red;
}
nav.navbar.navbar-default {
	background-color: #333;
 	color: #fff; 
}
nav.navbar.navbar-inverse.navbar-fixed-top{
	border-color: #b32d00;
}