// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.product_index_title {
    /*background-color:#999999;*/
}



/*new.html.erb*/
a.back_button {
    position: relative;
    left: 10px;
    top: 200px;
}

div#new_product_form {
    top: 100px;
    left: 10px;
}


a#new_product_button{
    position: relative;
    left: 10px;
    top: 200px;
}


div#all_products{
    position: relative;
    top: 90px;
}

a.edit_page_back_button{
    position: relative;
    left: 10px;
    top: 200px;

}

a.edit_button{ 
    position: relative;
    left: 10px;
    top: 200px;
}