<!-- a blank form with fields to save a product in the database -->

<h1>New Product</h1>

<%= render partial: 'form', product: @product %> <!-- The form being referenced here is a type of view called a partial templete. The permiter is "product" so im keeping the partial word --> 

<%= link_to 'Back', products_path, :class => 'back_button' %>   
